.ipynb_checkpoints
Datascience_practise/
data science practise/Datascience_practise.ec4653e0-cb69-41af-9813-5cc2e0618ec2/
trash/
trash2/
.virtual_documents/data science pratise/Untitled.ipynb
.virtual_documents/data science pratise/Untitled.ipynb
.virtual_documents/Datascience_practise/matplotlib practise/session_9.ipynb
.virtual_documents/matplotlib data visualization/stack_.ipynb
.virtual_documents/matplotlib data visualization/stack_.ipynb
.virtual_documents/data science pratise/Untitled.ipynb
.virtual_documents/data science pratise/Untitled.ipynb
*.ipynb
*.ipynb
.virtual_documents/Datascience_practise/matplotlib practise/session_9.ipynb
