<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY Data science project</title>
</head>
<body>
    <header>
        <nav>
            <div class ='logo'><img src="c:\Users\Monu Verma\Downloads\Screenshot 2026-06-07 101926.png" alt = ''></div>
        </nav>
        <h1>"MONU VERMA"</h1>
        <P>i AM 17 YEARS OLD </P>
        <form action="/predict" method="post">
         <label for="feature">Enter value</label>
         <input type="text" name="feature:id_feature">
         <button type="submit">predict</button>
        </form>


    </header>
    <main></main>
    <footer></footer>

    
</body>
</html>